body {
  margin: 0;
}

.table {
  position: absolute;
  max-width: 600px
}

.filters {
  position: fixed;
  right: 10px;
  top: 50px;
}

#app {
  position:relative;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
